html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}


.w3-padding-32 {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.w3-ul li {
    padding : 0;
}

.w3-black, .w3-hover-black:hover {
    background-color: #fff!important;
}

.w3-border {
    border: 0 !important;
}